html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: auto;
}

h1 {
    text-align: center;
    color: rgb(128,7,7);
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(252,82,82,0.2);
}

p {
    display: block;
    margin: auto;
    width: 350px;
    padding: 20px;
    margin-bottom: 10px;
}

.banner-container {
    background-color: rgba(252,82,82,1);
    padding: 20px;
    display: flex;
}

.banner {
    font-size: 14px;
    width: 900px;
    display: flex;
    justify-content: space-around;
}

.home {
    color: white;
    flex-wrap: nowrap;
}

.header {
    margin-top: -25px;
}

.container {
    padding: 5px;
    margin: auto;
    font-size: 18px;
    width: auto;
}

.parent {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    background-color: rgba(252,82,82,0.2);
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    width: 200px;
    background: #fff;
    background-color: rgba(252,82,82,0.0);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.title {
    font-size: 22px;
    color: rgb(128,7,7);
    margin: auto;
}

img {
    width: 200px;
    height: 300px;
    border: 2px solid rgb(128,7,7);
}

button {
    padding: 10px;
    margin: auto;
    color: rgb(128,7,7);
}

.button-container {
    margin: 5px;
}

.paragraph {
    display: flex;
    justify-content: center;
    contain: content;
    background-color: rgb(247,191,200);
}

.item {
    width: 200px;
}
